%h1 Matrices

%table.table
  %thead
    %tr
      %th Name
      %th Passing
      - if user_signed_in?
        %th
        %th

  %tbody
    - @job_matrices.each do |job_matrix|
      %tr{class: job_matrix.passing? ? "table-success" : "table-warning"}
        %td= link_to job_matrix.name, job_matrix
        %td= job_matrix.passing?
        - if user_signed_in?
          %td= link_to 'Edit', edit_job_matrix_path(job_matrix)
          %td= link_to 'Destroy', job_matrix, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if user_signed_in?
  = link_to 'New Job matrix', new_job_matrix_path
