%p
  %b Name:
  = @job_matrix.name


%table.table.table-sm.table-bordered
  %thead
    %tr
      %td Spec
      - Rails.application.config_for(:uosci)['supported_combinations'].each do |ubuntu, openstacks|
        - openstacks.each do |openstack|
          %td #{ubuntu}-#{openstack}

  %tbody
    - for job in @job_matrix.jobs
      - build = job.latest_build
      - if build
        %tr
          %td{class: job_table_status(job)}
            = link_to job.name, job
            = link_to fa_icon("external-link"), job.url, target: '_blank'
          - Rails.application.config_for(:uosci)['supported_combinations'].each do |ubuntu, openstacks|
            - openstacks.each do |openstack|
              - this_build = build.build_results.where(ubuntu_release: ubuntu, openstack_release: openstack).order(created_at: :desc).first
              - if this_build
                %td{class: this_build.passed ? "table-success" : "table-danger"}
                  - if user_signed_in?
                    .float-right
                      = link_to "+",  new_build_result_path(build: build, ubuntu: ubuntu, openstack: openstack), class: 'btn btn-info'
                  =link_to "#{time_ago_in_words this_build.ran_at} ago", this_build.url, target: '_blank'
                  %br
                  = distance_of_time_in_words this_build.duration
              - else
                %td{class: 'table-active'}
                  - if user_signed_in?
                    .float-right
                      = link_to "+",  new_build_result_path(build: build, ubuntu: ubuntu, openstack: openstack), class: 'btn btn-info'
                  N/A
- if user_signed_in?
  = link_to 'Edit', edit_job_matrix_path(@job_matrix)
  \|
= link_to 'Back', job_matrices_path
